//- .hidden
section.container.question#getContact.hidden
    .row
        .col-12.animatible
            .get-contact__caption
                h2.get-contact__title
                    | Отлично!
                    br
                    | Система подобрала
                    br
                    span идеальные матрасы для Вас

        .col-12.col-lg-4.order-lg-2.px-lg-0.animatible
            .get-contact__form

                .get-contact__name
                    span#namePlace
                    | , куда её прислать?

                include ../form-get-contact/form-get-contact

        .col-12.col-lg-4.order-lg-3.animatible
            ul.get-contact__list
                li Система автоматически:
                li Подобрала матрасы точно по Вашим критериям
                li Приготовила чек-лист по выбору идеального матраса

        .col-12.col-lg-4.order-lg-1.animatible
            .get-contact__presentation
                .wrapper#getContactVideo
                    video(class="video_result"
                        controlslist="nodownload"
                        src="video/results.mp4"
                        playsinline=""
                        loop="loop"
                        muted="muted"
                        preload="auto"
                        autoplay="autoplay")
                        source(src="video/results.mp4" type="video/mp4")

        .col-12.d-lg-none
            include ../form-get-contact/form-get-contact

        .col-12.animatible.mt-md-5.order-lg-4
            .lock
                img(src="img/lock.png" alt="" title="")
                span Ваша подборка матрасов