//- .show
#fastConsultationModal.modal.modal_consultation

    //- .hidden
    .modal__dialog
        .modal__content
            .modal__body
                button.modal__close.modalCloseBtn(type='button')

                h5.modal__title
                    | Получите быструю
                    br
                    | профессиональную
                    br
                    | консультацию прямо сейчас

                form.form(action="" method="POST")
                    input(type="hidden" value="consultation" name="form")
                    .form__group
                        label
                            input.form__control(
                                type='tel'
                                name="phone"
                                placeholder='Введите ваш номер телефона')
                    .form__group
                        label
                            input.form__control.controller(
                                type='text'
                                name="time"
                                placeholder='Укажите удобное время для звонка ')
                    button.btn(type='submit' disabled) Получить консультацию

            .modal__footer
                ul
                    li Вы узнаете:
                    li Какой матрас лучше — пружинный или беспружинный, и в чем их преимущества и недостатки?
                    li Как долго прослужит матрас?
                    li Какую жесткость матраса выбрать?
                    li В чем особенности разных наполнителей и что подойдет именно Вам?

    //- .modal__dialog_hide .hidden
    .modal__dialog.modal__dialog_hide.hidden
        .modal__content
            .modal__body.mb-0
                button.modal__close.modalCloseBtn(type='button')
                h5.modal__title СПАСИБО!
                p.modal__subtitle До того, как мы перезвоним, посмотрите больше информации на нашем сайте
                a.btn.mt-3.modalCloseBtn(href="https://raiton-yakutsk.ru/" target="_blank") перейти на сайт