//- .show
#presentationModal.modal.modal_video
    .modal__dialog
        .modal__video-content
            button.modal__close.modalCloseBtn(type='button')
            video(controlslist="nodownload"
                disablepictureinpicture=""
                playsinline=""
                preload="auto"
                data-src="video/promotion.mp4")
                src=""
                source(src="" type="video/mp4")