mixin form-present(title)
    form.form-present(action="#" method="GET")
        input(type="hidden" value="change-phone" name="form")

        h4
            img.mr-3.d-none.d-md-block(src="" alt="" data-lazy-load-img="img/present.jpg")
            != title

        .form-present__stubtitle
            img(src="" alt=""
                data-lazy-load-img="img/present-list.jpg")
            p
                strong Чек-лист
                br
                | “Как выбрать идеальные матрас и подушку для здорового сна”

            span
                | Выбрав матрас и подушку
                br
                | с помощью&nbsp;
                strong чек-листа,
                br
                | Вы избавитесь от бессонницы,
                br
                | болей в спине и шее по утрам.

        .form-present__controllers
            h5
                | Подарок ждет Вас в WhatsApp,
                br
                | привязанном к Вашему номеру


            .form__group
                label.label_present
                    img(src="" alt=""
                        data-lazy-load-img="img/wa-msg.png")
                    .label_present__wrapper
                        input.form__control(
                            type='tel'
                            name="phone"
                            placeholder='Номер телефона')
                        span.label_present__note Номер можно изменить

            //- Просто менеджер - https://api.whatsapp.com/send?phone=79241653043&text=
            //- Получить подарок Чеклист - https://api.whatsapp.com/send?phone=79241764428&text=Здравствуйте!%20Я%20хочу%20получить%20чек-лист
            //- //переход на миниленд для подписки на чат-бота - http://raiton14.ru/raiton

            .form-present__btn-wrap
                a.btn(href="https://api.whatsapp.com/send?phone=79241764428&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D1%85%D0%BE%D1%87%D1%83%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D1%87%D0%B5%D0%BA-%D0%BB%D0%B8%D1%81%D1%82%20%D0%B2%20%D0%BF%D0%BE%D0%B4%D0%B0%D1%80%D0%BE%D0%BA%20id28072203" target="_blank" disabled)
                    | ПОЛУЧИТЬ ПОДАРОК
                    br
                    | В WHATSAPP
                span
                    | Просто переходи в WhatsApp,
                    br
                    | подарок уже ждет Вас