include form-present

//- .hidden
.container.question.results#results
    .row
        .col-12.animatible
            .lock
                img(src="" alt="" data-lazy-load-img="img/lock-open.png")
                span Ваша подборка матрасов

    .row
        .col-12.col-md-6.animatible
            .results__founders
                span(data-lazy-load-background="img/founders.jpg")
                h5
                    | Георгий и Татьяна
                    br
                    | Луковцевы
                p основатели Райтон Якутск

        .col-12.col-md-6.animatible
            .results__caption
                h5 Отлично!

                p
                    | Система подобрала идеальные&nbsp;
                    br.d-none.d-md-block
                    | матрасы&nbsp;
                    br.d-md-none
                    | для Вас. Вы найдете их
                    button.link(type="button")#goToResults ниже
                    | .

                p
                    | А еще Вы можете прийти в любой
                    br
                    | из 3-х наших салонов в Якутске
                    br
                    | и полежать на каждом.

    .row
        .col-12.animatible
            +form-present("А пока забирайте подарок")

        .col-12#resPlaceAnchor

    .row
        .col-12.animatible.lite-background.mt-md-5#resultCheap
            .results__list
                h5  Матрасы подобранные для Вас:
                .results__list-caption
                    strong
                        span 7&nbsp;
                        | матрасов&nbsp;
                    | в ценовой категории

                .results__list-raiting
                    include ../../../img/icon-start.svg
                    include ../../../img/icon-start.svg
                    include ../../../img/icon-start.svg

                .results__list-slider

                    .slider
                        mark
                            p листайте
                            span.slide-horizontal-animation
                                include ../../../img/i-scroll-hand.svg

                        .swiper.swiper_results
                            .swiper-wrapper
                                include items/cheap/template
                                include items/cheap/template
                                include items/cheap/template
                                include items/cheap/template

                            .swiper-pagination.swiper-pagination-results-items

    .row
        .col-12.lite-background.animatible
            +form-present("Вы всё ещё не забрали подарок?<br>Скорее забирайте!")

    .row.lite-background.animatible
        .col-12.col-xl-5.offset-xl-1
            .results__consultation-txt
                p
                    | Конечно, выбор матраса — сложное дело,
                    br
                    | и здорово получить консультацию
                    br
                    | специалиста, который в этом хорошо
                    br
                    | разбирается.

                h5
                    | Получите консультацию
                    br
                    | прямо сейчас

                span и узнайте:

                ul
                    li - В чем различие матрасов разных  брендов?
                    li - Какой лучше — пружинный или беспружинный, и в чем их преимущества и недостатки?
                    li - Как долго прослужит матрас?
                    li - Какую жесткость матраса выбрать?
                    li - В чем особенности разных наполнителей и что подойдет именно Вам?

        .col-12.col-xl-6
            .results__consultation-form
                p
                    strong
                        | Если Вам нужен нестандартный матрас
                        br
                        | и Вы не смогли найти подходящий среди
                        br
                        | предложенных вариантов,&nbsp
                        br.d-xl-none
                        | оставьте заявку.

                    span
                        | Наш специалист поможет подобрать&nbsp
                        br.d-xl-none
                        | матрас&nbsp
                        br.d-none.d-xl-block
                        | с учетом всех пожеланий!

                img(src="" alt="" data-lazy-load-img="img/manager.jpg")

                form.form(action="" method="POST")
                    h5 Записаться на консультацию

                    p
                        | Проверьте номер телефона
                        br
                        | и укажите удобное время для звонка

                    input(type="hidden" value="results-consultation" name="form")
                    .form__group
                        label
                            input.form__control(
                                type='tel'
                                name="phone"
                                placeholder='Ваш номер телефона')
                    .form__group
                        label
                            input.form__control.controller(
                                type='text'
                                name="time"
                                placeholder='Удобное время для звонка ')
                    button.btn(type='submit' disabled data-target="#thanksModal") записаться

    .row.animatible
        .col-12
            .results__benefits
                h5 Матрасы Райтон — решения для сна, созданные самой природой

                ul
                    li
                        span.picture(data-lazy-load-background="img/benefits/1.svg")
                        p
                            strong Собственное производство
                            | Фабрика в Иваново — историческом центре текстильной промышленности
                    li
                        span.picture(data-lazy-load-background="img/benefits/2.svg")
                        p
                            strong Европейские стандарты качества
                            | Производство на оборудовании последнего поколения
                    li
                        span.picture(data-lazy-load-background="img/benefits/3.svg")
                        p
                            strong Натуральные гипоаллергенные ткани и наполнители
                            | Безопасно для Вас и окружающей среды
                    li
                        span.picture(data-lazy-load-background="img/benefits/4.svg")
                        p
                            strong Последние научные разработки для вашего сна
                            | Единая система технологий для здоровья  позвоночника
                    li
                        span.picture(data-lazy-load-background="img/benefits/5.svg")
                        p
                            strong Райтон — эксклюзивный представитель американского производителя матрасов Sealy
                            | 150  лет развития, опыта и традиций

        .col-12.results__premium
            img(src="" alt="" data-lazy-load-img="img/premium.jpg")

        .col-12
            .results__props
                h5 с нами удобно

                ul
                    li
                        span 1
                        p
                            | Любые способы оплаты: при получении, в салоне,&nbsp;
                            br.d-none.d-xl-block
                            | онлайн, картой, наличными, банковским переводом
                    li
                        span 2
                        p
                            | Срок службы матрасов,&nbsp;
                            br.d-xl-none
                            | от 10 до 25 лет
                    li
                        span 3
                        p
                            | Гарантия от полутора,&nbsp;
                            br.d-xl-none
                            | до 25 лет
                    li
                        span 4
                        p Легкий обмен и возрат
                    li
                        span 5
                        p
                            | Рассрочка без процентов,&nbsp;
                            br.d-xl-none
                            | и переплат
                    li
                        span 6
                        p Бесплатная доставка

        .col-12
            .results__payment
                img(src="" alt="" data-lazy-load-img="img/payment.png")
                h5
                    | Рассрочка без
                    br
                    | процентов и переплат
                p
                    | позвольте себе то, что хочется, а не то,&nbsp;
                    br.d-none.d-xl-block
                    | на что&nbsp;
                    br.d-xl-none
                    | есть деньги сейчас

        .col-12
            .results__feedback
                h5 Отзывы о матрасах Райтон

                .results__feedback-slider

                    .slider
                        mark
                            p листайте
                            span.slide-horizontal-animation
                                include ../../../img/i-scroll-hand.svg

                        .swiper.swiper_feedback
                            .swiper-wrapper
                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/1.jpg")

                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/2.jpg")

                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/3.jpg")

                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/4.jpg")

                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/5.jpg")

                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/6.jpg")

                                .swiper-slide
                                    .results__feedback-item
                                        span.results__feedback-picture(data-lazy-load-background="img/feedback/7.jpg")

                            .swiper-pagination.swiper-pagination-feedback

        .col-12
            .results__social
                h5
                    | Переходите в наш Instagram,
                    br
                    | чтобы узнать:

            .results__social-content
                img(src="" alt="" data-lazy-load-img="img/social-screen.jpg")

                ul
                    li Зачем нужны защитные чехлы и какие они бывают
                    li Какой матрас обеспечивает максимальную поддержку позвоночника
                    li Актуальные акции и конкурсы для подписчиков
                    li Более 60 отзывов о работе нашей команды
                    li И многое другое...

            a.results__social-link(href="https://www.instagram.com/raiton_yakutsk/" target="_blank")
                span(data-lazy-load-background="img/icon-insta.svg")

        .col-12
            .results__pams
                h5
                    | И приходите в гости,
                    br
                    | чтобы полежать на матрасах

                h4 Выбирайте ближайший салон

                .tabs#maps(data-active-map="0")
                    ul.tabs__navs
                        li.tabs__item ТРК АЗИЯ
                        li.tabs__item ОптимистПроф
                        li.tabs__item Строительный

                    ul.tabs__content
                        li.tabs__map
                            p
                                strong Адрес
                                | г. Якутск,
                                br
                                | ТРК «Азия»,
                                br
                                | ул. Чернышевского, 74/8, 2 этаж

                                b Режим работы
                                | Пн-Вс с 10.00 до 20.00

                            span.tabs__container
                                iframe(src="https://yandex.ru/map-widget/v1/?ll=62.0051942,129.7163383&um=constructor%3Ac2773e754cb74956724d845d0fb21bac3b896e38365cc6df0e761e1aac3614e3&amp;source=constructor&amp;z=15" width="100%" height="100%" frameborder="0")

                        li.tabs__map
                            p
                                strong Адрес
                                | г. Якутск,
                                br
                                | ТВЦ «Строительный»,
                                br
                                | ул. Жорницкого, 35,
                                br
                                | 307 павильон, 3 этаж

                                b Режим работы
                                | Пн-Вс с 10.00 до 20.00

                            span.tabs__container
                                iframe(src="https://yandex.ru/map-widget/v1/?ll=62.06421942,129.7148412&um=constructor%3A5453573f76d590295a04a8213921f5f662488280b1923b0510efac2bfe09d475&amp;source=constructor&amp;z=15" width="100%" height="100%" frameborder="0")

                        li.tabs__map
                            p
                                strong Адрес
                                | г. Якутск,
                                br
                                | ТВЦ «ОптимистПроф»,
                                br
                                | ​Автострада 50 лет Октября, 1а

                                b Режим работы
                                | Пн-Вс с 10.00 до 20.00

                            span.tabs__container
                                iframe(src="https://yandex.ru/map-widget/v1/?ll=62.074459,129.7398121&um=constructor%3Ad1d86db7e35add1b55878618218e8eae1b3ea908911eddf3ec2e6136719bee95&amp;source=constructor&amp;z=15" width="100%" height="100%" frameborder="0")