//- .hidden
.container.question#childrenAge.hidden
    .row
        .col-12.animatible
            .question__caption
                h2.question__title Сколько лет ребенку?

        .col-12.col-lg-6.offset-lg-1.animatible
            .question__list

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="childrenAge"
                        data-question="Сколько лет ребенку?"
                        data-answer="0-5"
                        data-next-step-id="#hardnessChildren")
                    span.question__pic(style="background-image: url('img/questions/children-age_1.jpg');")
                    span.question__val 0-5

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="childrenAge"
                        data-question="Сколько лет ребенку?"
                        data-answer="6-13"
                        data-next-step-id="#hardnessChildren")
                    span.question__pic(style="background-image: url('img/questions/children-age_2.jpg');")
                    span.question__val 6-13

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="childrenAge"
                        data-question="Сколько лет ребенку?"
                        data-answer="14-18"
                        data-next-step-id="#hardnessAdult")
                    span.question__pic(style="background-image: url('img/questions/children-age_3.jpg');")
                    span.question__val 14-18

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="childrenAge"
                        data-question="Сколько лет ребенку?"
                        data-answer="Покажите все варианты."
                        data-next-step-id="#hardnessChildren")
                    span.question__pic.question__pic_null ?
                    span.question__val
                        | Покажите все
                        br
                        | варианты

        .col-12.col-lg-5.animatible
            .question__comment
                h3
                    span
                        | Система начала подбор. Продолжайте отвечать
                        img(src="img/question-spin.png" alt="img/question-spin.png")
                p
                    span(style="background-image: url('img/question-pic-47.png');")
                    span.hide(style="background-image: url('img/question-pic-34.png');")

        .col-12.col-lg-10.offset-lg-2.animatible
            .question__btn
                p
                    button.btn.btn_back.btnPrevStep.animation-line(type="button")
                        include ../../../img/icon-btn-back.svg
                        span назад