//- .hidden
.container.question#forWhom
    .row
        .col-12.animatible
            .question__caption
                h2.question__title Кто будет спать на новом матрасе?

        .col-12.animatible
            .question__list

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="forWhom"
                        data-question="Кто будет спать на новом матрасе?"
                        data-answer="Ребенок."
                        data-next-step-id="#childrenAge")
                    span.question__pic(style="background-image: url('img/questions/for-whom_1.jpg');")
                    span.question__val Ребенок

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="forWhom"
                        data-question="Кто будет спать на новом матрасе?"
                        data-answer="Взрослый."
                        data-next-step-id="#numberOfPersons")
                    span.question__pic(style="background-image: url('img/questions/for-whom_2.jpg');")
                    span.question__val Взрослый

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="forWhom"
                        data-question="Кто будет спать на новом матрасе?"
                        data-answer="Пожилой."
                        data-next-step-id="#numberOfPersons")
                    span.question__pic(style="background-image: url('img/questions/for-whom_3.jpg');")
                    span.question__val Пожилой

                label.question__item.question__item_picture
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="forWhom"
                        data-question="Кто будет спать на новом матрасе?"
                        data-answer="Пока не знаю."
                        data-next-step-id="#numberOfPersons")
                    span.question__pic.question__pic_null ?
                    span.question__val Пока не знаю

        .col-12.animatible
            .question__comment
                h2
                    | Начинайте отвечать
                    img(src="img/question-spin.png" alt="img/question-spin.png")
                p(style="background-image: url('img/question-pic-all.png');")