//- .hidden
.container.question#hardnessChildren.hidden
    .row
        .col-12.animatible
            .question__caption
                h2.question__title
                    | Какой жесткости матрас&nbsp;
                    br.d-md-none
                    | нужен Вашему ребенку?
                p.question__subtitle
                    span Чем жестче матрас — тем лучше он разгружает позвоночник. Чем мягче — тем больше расслабляются и восстанавливаются мышцы. Правильно подобранная жесткость позволит сохранить позвоночник ребенка в естественном положении, снять напряжение с мышц и нервных окончаний и убрать давление с сосудов во время сна.
                    button

        .col-12.col-lg-6.offset-lg-1.animatible
            .question__list

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="hardnessChildren"
                        data-question="Какой жесткости матрас нужен Вашему ребенку?"
                        data-answer="Жесткий."
                        data-next-step-id="#howUrgent")
                    span.question__val Жесткий

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="hardnessChildren"
                        data-question="Какой жесткости матрас нужен Вашему ребенку?"
                        data-answer="Двусторонний. Одна сторана мягкая, другая жесткая."
                        data-next-step-id="#howUrgent")
                    span.question__val
                        | Двусторонний
                        span.question__val_small
                            | Одна сторана мягкая,
                            br
                            | другая жесткая

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="hardnessChildren"
                        data-question="Какой жесткости матрас нужен Вашему ребенку?"
                        data-answer="Средний."
                        data-next-step-id="#howUrgent")
                    span.question__val Средний

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="hardnessChildren"
                        data-question="Какой жесткости матрас нужен Вашему ребенку?"
                        data-answer="Не знаю, нужна консультация."
                        data-next-step-id="#howUrgent")
                    span.question__val
                        | Не знаю, нужна
                        br
                        | консультация

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="hardnessChildren"
                        data-question="Какой жесткости матрас нужен Вашему ребенку?"
                        data-answer="Мягкий."
                        data-next-step-id="#howUrgent")
                    span.question__val Мягкий

        .col-12.col-lg-5.animatible
            .question__comment
                h3
                    span
                        | Система начала подбор. Продолжайте отвечать
                        img(src="img/question-spin.png" alt="img/question-spin.png")
                p
                    span(style="background-image: url('img/question-pic-34.png');")
                    span.hide(style="background-image: url('img/question-pic-9.png');")

        .col-12.col-lg-10.offset-lg-2.animatible
            .question__btn
                p
                    button.btn.btn_back.btnPrevStep.animation-line(type="button")
                        include ../../../img/icon-btn-back.svg
                        span назад