//- .hidden
.container.question#howUrgent.hidden
    .row
        .col-12.animatible
            .question__caption
                h2.question__title Как срочно Вам нужен матрас?
                p.question__subtitle
                    span У нас часто проодятся акции, и мы сможем предупредить Вас о них, когда придет время выбирать.

        .col-12.col-lg-6.offset-lg-1.animatible
            .question__list

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="howUrgent"
                        data-question="Как срочно Вам нужен матрас?"
                        data-answer="Как можно скорее."
                        data-next-step-id="#getNane")
                    span.question__val
                        | Как можно
                        br
                        | скорее

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="howUrgent"
                        data-question="Как срочно Вам нужен матрас?"
                        data-answer="Через 1 месяц."
                        data-next-step-id="#getNane")
                    span.question__val Через 1 месяц

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="howUrgent"
                        data-question="Как срочно Вам нужен матрас?"
                        data-answer="Через 3 месяца."
                        data-next-step-id="#getNane")
                    span.question__val Через 3 месяца

                label.question__item.question__item_simple
                    input.controller.btnNextStep.invisible(
                        type="radio"
                        name="howUrgent"
                        data-question="Как срочно Вам нужен матрас?"
                        data-answer="Не знаю, пока присматриваюсь."
                        data-next-step-id="#getNane")
                    span.question__val
                        | Не знаю, пока
                        br
                        | присматриваюсь

        .col-12.col-lg-5.animatible
            .question__comment
                h3
                    | Система начала подбор. Продолжайте отвечать
                    img(src="img/question-spin.png" alt="img/question-spin.png")
                p(style="background-image: url('img/question-pic-9.png');")

        .col-12.col-lg-10.offset-lg-2.animatible
            .question__btn
                p
                    button.btn.btn_back.btnPrevStep.animation-line(type="button")
                        include ../../../img/icon-btn-back.svg
                        span назад