//- .hidden
.container.question#weightTwo.hidden
    .row
        .col-12.animatible
            .question__caption
                h2.question__title Какой вес у спящего?
                p.question__subtitle
                    span Чтобы достичь максимального ортопедического эффекта, разгрузить позвоночник и мышцы и высыпаться с комфортом, нужно правильно подобрать конструкцию матраса, наполнитель и количество пружин. Для этого необходимо знать вес спящих взрослых.
                    button

        .col-12.col-lg-6.offset-lg-1.animatible
            .question__list

                h4.question__list-title Первый человек

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.firstGroup(
                        type="radio"
                        name="weightTwoFirst"
                        data-question="Какой вес у спящего (Первый человек)?"
                        data-answer="До 100 кг."
                        data-next-step-id="#hardnessAdult")
                    span.question__val До 100 кг

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.firstGroup(
                        type="radio"
                        name="weightTwoFirst"
                        data-question="Какой вес у спящего (Первый человек)?"
                        data-answer="До 120 кг."
                        data-next-step-id="#hardnessAdult")
                    span.question__val До 120 кг

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.firstGroup(
                        type="radio"
                        name="weightTwoFirst"
                        data-question="Какой вес у спящего (Первый человек)?"
                        data-answer="Больше 120 кг."
                        data-next-step-id="#hardnessAdult")
                    span.question__val Больше 120 кг

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.firstGroup(
                        type="radio"
                        name="weightTwoFirst"
                        data-question="Какой вес у спящего (Первый человек)?"
                        data-answer="Не знаю, покажите все варианты."
                        data-next-step-id="#hardnessAdult")
                    span.question__val
                        | Не знаю,&nbsp;
                        br.d-md-none
                        | покажите все&nbsp;
                        br.d-md-none
                        | варианты

        .col-12.col-lg-6.offset-lg-1.animatible
            .question__list.question__list_second

                h4.question__list-title Второй человек

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.secondGroup(
                        type="radio"
                        name="weightTwoSecond"
                        data-question="Какой вес у спящего (Второй человек)?"
                        data-answer="До 100 кг."
                        data-next-step-id="#hardnessAdult")
                    span.question__val До 100 кг

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.secondGroup(
                        type="radio"
                        name="weightTwoSecond"
                        data-question="Какой вес у спящего (Второй человек)?"
                        data-answer="До 120 кг."
                        data-next-step-id="#hardnessAdult")
                    span.question__val До 120 кг

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.secondGroup(
                        type="radio"
                        name="weightTwoSecond"
                        data-question="Какой вес у спящего (Второй человек)?"
                        data-answer="Больше 120 кг."
                        data-next-step-id="#hardnessAdult")
                    span.question__val Больше 120 кг

                label.question__item.question__item_simple
                    input.controller.invisible.pluralController.secondGroup(
                        type="radio"
                        name="weightTwoSecond"
                        data-question="Какой вес у спящего (Второй человек)?"
                        data-answer="Не знаю, покажите все варианты."
                        data-next-step-id="#hardnessAdult")
                    span.question__val
                        | Не знаю,&nbsp;
                        br.d-md-none
                        | покажите все&nbsp;
                        br.d-md-none
                        | варианты

        .col-12.col-lg-5.animatible
            .question__comment.question__comment_two-person
                h3
                    span
                        | Система начала подбор. Продолжайте отвечать
                        img(src="img/question-spin.png" alt="img/question-spin.png")
                p
                    span(style="background-image: url('img/question-pic-34.png');")
                    span.hide(style="background-image: url('img/question-pic-23.png');")

        .col-12.col-lg-10.offset-lg-2.animatible
            .question__btn
                p
                    button.btn.btn_back.btnPrevStep.animation-line(type="button")
                        include ../../../img/icon-btn-back.svg
                        span назад